<p-dialog 
[transitionOptions]="'0ms'"
header="Title" 
[baseZIndex]="10000"
[(visible)]="display"
modal= true
styleClass="dialog"
(onHide)="onHideDialog()"
[style]="{width: '80vw',height:'70vw'}">
  

<p-editor [(ngModel)]="text" [style]="{'height':'15vw'}">
    <p-header>
        <p-dropdown  [options]="cities2" (click)="onSelectPurchaser()" [(ngModel)]="selectedCity1" placeholder="Select Subject" optionLabel="name" [showClear]="true"></p-dropdown>
        <p-dropdown  [options]="cities2" (click)="onSelectPurchaser()" [(ngModel)]="selectedCity1" placeholder="Select Subject" optionLabel="name" [showClear]="true"></p-dropdown>
        <p-dropdown  [options]="cities2" (click)="onSelectPurchaser()" [(ngModel)]="selectedCity1" placeholder="Select Subject" optionLabel="name" [showClear]="true"></p-dropdown>

        <!-- <ion-icon style="cursor: pointer;" class="float-right" (click)="text=null" name="close-outline"></ion-icon> -->

    </p-header>
</p-editor>

<h3 class="first">Basic</h3>
<div class="ui-g" style="width:250px;margin-bottom:10px">
    <div class="ui-g-12"><p-radioButton name="group1" value="Option 1" label="Option 1" [(ngModel)]="val1" inputId="opt1"></p-radioButton></div>
    <div class="ui-g-12"><p-radioButton name="group1" value="Option 2" label="Option 2" [(ngModel)]="val1" inputId="opt2"></p-radioButton></div>
    <div class="ui-g-12"><p-radioButton name="group1" value="Option 3" label="Option 3" [(ngModel)]="val1" inputId="opt3"></p-radioButton></div>
</div>

</p-dialog>